* text=auto !eol
/CONTRIBUTORS -text
/Makefile.am -text
/NOTICE -text
/RPM_build_notes.txt -text
extensions/csvStream/csvStream.cls -text
extensions/hostemu/cmdparse.cpp -text
extensions/hostemu/cmdparse.ypp -text
extensions/hostemu/hostemu.h -text
extensions/hostemu/platform/unix/hostemu.cpp -text
extensions/hostemu/platform/windows/hostemu.cpp -text
extensions/platform/unix/rxunixsys/rxunixsys.cpp -text
extensions/platform/unix/rxunixsys/rxunixsys.h -text
extensions/platform/windows/oodialog/0_READ_ME_FIRST.txt -text
extensions/platform/windows/oodialog/AppIcon.ico -text
extensions/platform/windows/oodialog/AppIcon2.ico -text
extensions/platform/windows/oodialog/ControlDialog.cls -text
extensions/platform/windows/oodialog/oodBaseDialog.cpp -text
extensions/platform/windows/oodialog/oodCommon.hpp -text
extensions/platform/windows/oodialog/oodControl.cpp -text
extensions/platform/windows/oodialog/oodControl.hpp -text
extensions/platform/windows/oodialog/oodData.hpp -text
extensions/platform/windows/oodialog/oodDeviceGraphics.hpp -text
extensions/platform/windows/oodialog/oodKeyNames.hpp -text
extensions/platform/windows/oodialog/oodMessaging.hpp -text
extensions/platform/windows/oodialog/oodPropertySheetDialog.cpp -text
extensions/platform/windows/oodialog/oodPropertySheetDialog.hpp -text
extensions/platform/windows/oodialog/oodRoutines.cpp -text
extensions/platform/windows/oodialog/oodUser.hpp -text
extensions/platform/windows/oodialog/oodUtilities.cpp -text
extensions/platform/windows/oodialog/oodialog.ico -text svneol=unset#applicatiion/octet-stream
interpreter/RexxClasses/Serializable.orx -text
interpreter/platform/unix/SysNativeMethods.h -text
platform/unix/debian/changelog.in -text svnc_snv_003aeol_002dstyle=native
platform/unix/debian/compat -text svnc_snv_003aeol_002dstyle=native
platform/unix/debian/control -text svnc_snv_003aeol_002dstyle=native
platform/unix/debian/copyright -text svnc_snv_003aeol_002dstyle=native
platform/unix/debian/dirs -text svnc_snv_003aeol_002dstyle=native
platform/unix/debian/docs -text svnc_snv_003aeol_002dstyle=native
platform/unix/debian/postinst.in -text svnc_snv_003aeol_002dstyle=native
platform/unix/debian/postrm -text svnc_snv_003aeol_002dstyle=native
platform/unix/debian/prerm -text svnc_snv_003aeol_002dstyle=native
platform/unix/debian/rules -text svnc_snv_003aeol_002dstyle=native
platform/unix/macosx/MakeRexxPackage.in -text
platform/unix/macosx/PackageInfo.in -text
platform/unix/macosx/org.rexxla.oorexx.rxapid.plist -text
platform/unix/macosx/postflight.in -text
platform/unix/macosx/preflight.in -text
platform/windows/hostemu.def -text
platform/windows/hostemu.mak -text
platform/windows/install/oorexx.nsi -text
platform/windows/install/orange-uninstall.bmp -text svneol=unset#image/bmp
platform/windows/install/orange.bmp -text svneol=unset#image/bmp
platform/windows/install/uninstall.ico -text svneol=unset#applicatiion/octet-stream
platform/windows/orxw.ico -text svneol=unset#applicatiion/octet-stream
platform/windows/rexx.ico -text svneol=unset#applicatiion/octet-stream
rexxapi/server/platform/windows/rxapi.ico -text
samples/native.api/Makefile.am -text
samples/native.api/ReadMe.txt -text
samples/native.api/call.example/HelloWorld.rex -text
samples/native.api/call.example/Makefile.am -text
samples/native.api/call.example/Makefile.linux -text
samples/native.api/call.example/Makefile.windows -text
samples/native.api/call.example/ReadMe.txt -text
samples/native.api/call.example/backward.fnc -text
samples/native.api/call.example/runRexxProgram.cpp -text
samples/native.api/call.example/stackOverflow.cpp -text
samples/native.api/call.example/tooRecursiveTrapped.rex -text
samples/native.api/call.example/tooRecursiveUnhandled.rex -text
samples/windows/0ReadMe.first -text
samples/windows/api/callrxnt/callrxnt.ico -text svneol=unset#applicatiion/octet-stream
samples/windows/api/callrxwn/callrxwn.ico -text svneol=unset#applicatiion/octet-stream
samples/windows/api/rexxexit/rexxexit.ico -text svneol=unset#applicatiion/octet-stream
samples/windows/api/rexxexit/testRexxExit -text
samples/windows/ole/ReadMe.first -text
samples/windows/ole/apps/oleUtils.frm -text
samples/windows/ole/apps/samp06.mwp -text
samples/windows/oodialog/PropertySheetDemo.rex -text
samples/windows/oodialog/TabDemo.rex -text
samples/windows/oodialog/bmp/bigpiece.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/blank.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/blanks.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/cake.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/cake1.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/cake10.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/cake11.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/cake2.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/cake3.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/cake4.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/cake5.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/cake6.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/cake7.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/cake8.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/cake9.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/cakepiec.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/chihuahu.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/eleph2.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/fork.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/goat.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/handfkle.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/handfkri.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/handleft.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/handrite.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/horse.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/install.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/install2.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/kanguru.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/moose.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/oodListViews1.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/oodListViews2.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/oodtree.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/phileat.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/phileat2.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/phileata.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/philouch.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/philphil.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/philslep.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/philtest.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/philwait.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/propertySheetDemoListView.bmp -text
samples/windows/oodialog/bmp/propertySheetDemoTab.bmp -text
samples/windows/oodialog/bmp/propertySheetDemoTreeView.bmp -text
samples/windows/oodialog/bmp/rhinoce.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/s2anim.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/s2arch.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/s2backg.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/s2input.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/s2jack.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/s2list.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/s2mov.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/s2philf.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/s2prog.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/s2prop.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/s2scroll.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/s2tree.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/s2walker.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/sealion.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/ticketWizardMovie.bmp -text
samples/windows/oodialog/bmp/ticketWizardRexxLA.bmp -text
samples/windows/oodialog/bmp/ticketWizardTheater.bmp -text
samples/windows/oodialog/bmp/ticketWizardTicket.bmp -text
samples/windows/oodialog/bmp/tiger.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/wlkfig1.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/wlkfig2.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/wlkfig3.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/wlkfig4.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/wlkfig5.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/wlkfig6.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/wlkfig7.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/wlkfig8.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/controls/Makefile.am -text
samples/windows/oodialog/controls/PaidHolidays.rex -text
samples/windows/oodialog/controls/ReadMe.txt -text
samples/windows/oodialog/controls/paidHolidays.h -text
samples/windows/oodialog/controls/paidHolidays.rc -text
samples/windows/oodialog/controls/upDown.h -text
samples/windows/oodialog/controls/upDown.rc -text
samples/windows/oodialog/controls/upDown.rex -text
samples/windows/oodialog/dlgAreaUDemo.h -text
samples/windows/oodialog/dlgAreaUDemoThree.rex -text
samples/windows/oodialog/dlgAreaUDemoTwo.rex -text
samples/windows/oodialog/examples/columnClickListView.rex -text
samples/windows/oodialog/examples/resources/CheckIn.bmp -text
samples/windows/oodialog/examples/resources/ClosePalette.bmp -text
samples/windows/oodialog/examples/resources/CodeReview.bmp -text
samples/windows/oodialog/examples/resources/Default.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/examples/resources/Disabled.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/examples/resources/Hot.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/examples/resources/LinkToWeb.bmp -text
samples/windows/oodialog/examples/resources/LockModule.bmp -text
samples/windows/oodialog/examples/resources/LockProject.bmp -text
samples/windows/oodialog/examples/resources/Normal.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/examples/resources/ProjectReview.bmp -text
samples/windows/oodialog/examples/resources/Pushed.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/examples/resources/SaveAll.bmp -text
samples/windows/oodialog/examples/resources/SaveModule.bmp -text
samples/windows/oodialog/examples/resources/SaveProject.bmp -text
samples/windows/oodialog/examples/resources/SplitModule.bmp -text
samples/windows/oodialog/examples/resources/Update.bmp -text
samples/windows/oodialog/examples/resources/useTools.h -text
samples/windows/oodialog/examples/useTools.rex -text
samples/windows/oodialog/menus/BinaryMenuBar.rex -text
samples/windows/oodialog/menus/Makefile.am -text
samples/windows/oodialog/menus/UserMenuBar.bmp -text
samples/windows/oodialog/menus/UserMenuBar.h -text
samples/windows/oodialog/menus/UserMenuBar.rc -text
samples/windows/oodialog/menus/UserMenuBar.rex -text
samples/windows/oodialog/oleinfo/icons.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/ooDraw.h -text
samples/windows/oodialog/ooRexxTry/Makefile.am -text
samples/windows/oodialog/ooRexxTry/doc/Makefile.am -text
samples/windows/oodialog/ooRexxTry/doc/ooRexxTry.pdf -text
samples/windows/oodialog/ooRexxTry/ooRexxTry.rex -text
samples/windows/oodialog/oophil.ico -text svneol=unset#applicatiion/octet-stream
samples/windows/oodialog/rc/PropertySheetDemo.h -text
samples/windows/oodialog/rc/PropertySheetDemo.rc -text
samples/windows/oodialog/rc/TabDemo.h -text
samples/windows/oodialog/rc/oodtreeNewItem.rc -text
samples/windows/oodialog/rc/ticketWizard.h -text
samples/windows/oodialog/rc/ticketWizard.rc -text
samples/windows/oodialog/simple/ChangeFont.rex -text
samples/windows/oodialog/simple/Makefile.am -text
samples/windows/oodialog/simple/ReadMe.txt -text
samples/windows/oodialog/simple/SimpleMonthCalendar.h -text
samples/windows/oodialog/simple/SimpleMonthCalendar.rc -text
samples/windows/oodialog/simple/SimpleMonthCalendar.rex -text
samples/windows/oodialog/simple/SimpleUpDown.rex -text
samples/windows/oodialog/sysinfo/sysInfo.h -text
samples/windows/oodialog/ticketWizard.rex -text
samples/windows/oodialog/tutorial/add.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/tutorial/logo.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/userGuide/exercises/Exercise04/CustomerView.h -text
samples/windows/oodialog/userGuide/exercises/Exercise04/CustomerView.rc -text
samples/windows/oodialog/userGuide/exercises/Exercise04/CustomerView.rex -text
samples/windows/oodialog/userGuide/exercises/Exercise04/Startup.rex -text
samples/windows/oodialog/wav/byebye.wav -text svneol=unset#audio/x-wav
samples/windows/oodialog/wav/cancel.wav -text svneol=unset#audio/x-wav
samples/windows/oodialog/wav/clap.wav -text svneol=unset#audio/x-wav
samples/windows/oodialog/wav/elephant.wav -text svneol=unset#audio/x-wav
samples/windows/oodialog/wav/goat.wav -text svneol=unset#audio/x-wav
samples/windows/oodialog/wav/gotcha.wav -text svneol=unset#audio/x-wav
samples/windows/oodialog/wav/guess.wav -text svneol=unset#audio/x-wav
samples/windows/oodialog/wav/help.wav -text svneol=unset#audio/x-wav
samples/windows/oodialog/wav/horse.wav -text svneol=unset#audio/x-wav
samples/windows/oodialog/wav/inst.wav -text svneol=unset#audio/x-wav
samples/windows/oodialog/wav/jackpot.wav -text svneol=unset#audio/x-wav
samples/windows/oodialog/wav/moose.wav -text svneol=unset#audio/x-wav
samples/windows/oodialog/wav/nope.wav -text svneol=unset#audio/x-wav
samples/windows/oodialog/wav/philcake.wav -text svneol=unset#audio/x-wav
samples/windows/oodialog/wav/phileat.wav -text svneol=unset#audio/x-wav
samples/windows/oodialog/wav/philhelp.wav -text svneol=unset#audio/x-wav
samples/windows/oodialog/wav/philouch.wav -text svneol=unset#audio/x-wav
samples/windows/oodialog/wav/philslep.wav -text svneol=unset#audio/x-wav
samples/windows/oodialog/wav/philstop.wav -text svneol=unset#audio/x-wav
samples/windows/oodialog/wav/philstrt.wav -text svneol=unset#audio/x-wav
samples/windows/oodialog/wav/philwait.wav -text svneol=unset#audio/x-wav
samples/windows/oodialog/wav/rhino.wav -text svneol=unset#audio/x-wav
samples/windows/oodialog/wav/sample.wav -text svneol=unset#audio/x-wav
samples/windows/oodialog/wav/sealion.wav -text svneol=unset#audio/x-wav
samples/windows/oodialog/wav/start.wav -text svneol=unset#audio/x-wav
samples/windows/oodialog/wav/take.wav -text svneol=unset#audio/x-wav
samples/windows/oodialog/wav/tiger.wav -text svneol=unset#audio/x-wav
samples/windows/oodialog/wav/whistle.wav -text svneol=unset#audio/x-wav
samples/windows/oodialog/wav/yourgood.wav -text svneol=unset#audio/x-wav
samples/windows/oodialog/winsystem/windowsSystem.frm -text
utilities/rexx/platform/windows/rexx.mak -text
