* text=auto !eol
common/BitSet.hpp -text
extensions/dateparser/dateparser.cls -text
extensions/json/json.cls -text
extensions/platform/windows/oodialog/AppIcon.ico -text
extensions/platform/windows/oodialog/AppIcon2.ico -text
extensions/platform/windows/oodialog/AppIconBlueBeaker.ico -text
extensions/platform/windows/oodialog/_deleteX.ico -text
extensions/platform/windows/oodialog/_deleteXX.ico -text
extensions/platform/windows/oodialog/_downArrowBlue.ico -text
extensions/platform/windows/oodialog/_upArrowBlue.ico -text
extensions/platform/windows/oodialog/oodialog.ico -text svneol=unset#applicatiion/octet-stream
extensions/platform/windows/oodialog/rexx.ico -text
interpreter/classes/EventSemaphore.cpp -text
interpreter/classes/EventSemaphore.hpp -text
interpreter/classes/MutexSemaphore.cpp -text
interpreter/classes/MutexSemaphore.hpp -text
interpreter/classes/VariableReference.cpp -text
interpreter/classes/VariableReference.hpp -text
interpreter/concurrency/ConditionTrappingDispatcher.cpp -text
interpreter/concurrency/ConditionTrappingDispatcher.hpp -text
interpreter/expression/SpecialDotVariable.cpp -text
interpreter/expression/SpecialDotVariable.hpp -text
interpreter/expression/VariableReferenceOp.cpp -text
interpreter/expression/VariableReferenceOp.hpp -text
interpreter/instructions/AddressWithInstruction.cpp -text
interpreter/instructions/AddressWithInstruction.hpp -text
interpreter/instructions/CommandIOConfiguration.cpp -text
interpreter/instructions/CommandIOConfiguration.hpp -text
interpreter/instructions/CommandIOContext.cpp -text
interpreter/instructions/CommandIOContext.hpp -text
interpreter/instructions/ConstantDirective.cpp -text
interpreter/instructions/ConstantDirective.hpp -text
interpreter/instructions/InputRedirector.cpp -text
interpreter/instructions/InputRedirector.hpp -text
interpreter/instructions/OutputRedirector.cpp -text
interpreter/instructions/OutputRedirector.hpp -text
interpreter/instructions/UseArgVariableRef.cpp -text
interpreter/instructions/UseArgVariableRef.hpp -text
interpreter/memory/ExternalFileBuffer.hpp -text
interpreter/memory/FileNameBuffer.cpp -text
interpreter/memory/FileNameBuffer.hpp -text
interpreter/messages/RexxErrorMessages.h -text
interpreter/messages/RexxErrorMessages.xsl -text
interpreter/platform/unix/SysRexxUtilFunctions.h -text
interpreter/platform/windows/SysRexxUtil.cpp -text
interpreter/platform/windows/SysRexxUtilFunctions.h -text
interpreter/runtime/RexxUtilCommon.cpp -text
interpreter/runtime/RexxUtilCommon.hpp -text
platform/unix/50-rxapid.preset -text
platform/unix/debian/changelog.in -text svnc_snv_003aeol_002dstyle=native
platform/unix/debian/cmake/postinst.in -text
platform/unix/debian/cmake/prerm -text
platform/unix/debian/cmake/prerm.in -text
platform/unix/debian/compat -text svnc_snv_003aeol_002dstyle=native
platform/unix/debian/control -text svnc_snv_003aeol_002dstyle=native
platform/unix/debian/copyright -text svnc_snv_003aeol_002dstyle=native
platform/unix/debian/dirs -text svnc_snv_003aeol_002dstyle=native
platform/unix/debian/docs -text svnc_snv_003aeol_002dstyle=native
platform/unix/debian/postinst.in -text svnc_snv_003aeol_002dstyle=native
platform/unix/debian/postrm -text svnc_snv_003aeol_002dstyle=native
platform/unix/debian/prerm -text svnc_snv_003aeol_002dstyle=native
platform/unix/debian/rules -text svnc_snv_003aeol_002dstyle=native
platform/unix/macosx/MakeRexxPackage.in -text
platform/unix/menu/rexxtry.xml svneol=native#text
platform/unix/oorexx-config.in -text
platform/unix/oorexx.appdata.xml svneol=native#text
platform/unix/oorexx.png -text svneol=unset#image/png
platform/unix/oorexx.spec.in -text
platform/windows/install/orange-uninstall.bmp -text svneol=unset#image/bmp
platform/windows/install/orange.bmp -text svneol=unset#image/bmp
platform/windows/install/uninstall.ico -text svneol=unset#applicatiion/octet-stream
platform/windows/orxw.ico -text svneol=unset#applicatiion/octet-stream
platform/windows/rexx.ico -text svneol=unset#applicatiion/octet-stream
rexxapi/common/CSStream.cpp -text
rexxapi/common/CSStream.hpp -text
rexxapi/common/platform/windows/SysCSNamedPipeStream.cpp -text
rexxapi/common/platform/windows/SysCSNamedPipeStream.hpp -text
rexxapi/server/platform/windows/rxapi.ico -text
samples/windows/api/callrxnt/callrxnt.ico -text svneol=unset#applicatiion/octet-stream
samples/windows/api/callrxwn/callrxwn.ico -text svneol=unset#applicatiion/octet-stream
samples/windows/api/rexxexit/rexxexit.ico -text svneol=unset#applicatiion/octet-stream
samples/windows/ole/apps/samp06.mwp -text
samples/windows/oodialog/bmp/bigpiece.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/blank.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/blanks.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/cake.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/cake1.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/cake10.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/cake11.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/cake2.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/cake3.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/cake4.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/cake5.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/cake6.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/cake7.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/cake8.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/cake9.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/cakepiec.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/chihuahu.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/eleph2.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/fork.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/goat.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/handfkle.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/handfkri.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/handleft.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/handrite.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/horse.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/install.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/install2.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/kanguru.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/moose.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/oodStandardDialogs.ico -text
samples/windows/oodialog/bmp/oodStandardRoutines.ico -text
samples/windows/oodialog/bmp/phileat.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/phileat2.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/phileata.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/philouch.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/philphil.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/philslep.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/philtest.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/philwait.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/rhinoce.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/s2anim.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/s2arch.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/s2backg.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/s2input.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/s2jack.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/s2list.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/s2mov.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/s2philf.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/s2prog.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/s2prop.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/s2scroll.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/s2tree.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/s2walker.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/sealion.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/tiger.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/wlkfig1.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/wlkfig2.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/wlkfig3.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/wlkfig4.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/wlkfig5.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/wlkfig6.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/wlkfig7.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/bmp/wlkfig8.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/controls/ListView/rc/columnIcons.dll -text
samples/windows/oodialog/controls/ListView/rc/columnIcons_16.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/controls/ListView/rc/columnIcons_32.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/controls/ToolBar/rc/ToolBar11IL.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/controls/ToolBar/rc/customizeToolBar.dll -text
samples/windows/oodialog/controls/ToolBar/rc/toolBar.dll -text
samples/windows/oodialog/controls/ToolTip/musicNote.ico -text
samples/windows/oodialog/controls/TreeView/rc/treeViewCustomDraw.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/examples/resources/CheckIn.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/examples/resources/ClosePalette.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/examples/resources/CodeReview.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/examples/resources/Default.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/examples/resources/Disabled.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/examples/resources/Hot.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/examples/resources/LinkToWeb.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/examples/resources/LockModule.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/examples/resources/LockProject.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/examples/resources/Normal.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/examples/resources/ProjectReview.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/examples/resources/Pushed.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/examples/resources/SaveAll.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/examples/resources/SaveModule.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/examples/resources/SaveProject.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/examples/resources/SplitModule.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/examples/resources/Update.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/menus/UserMenuBar.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/mouse/dragging.cur -text
samples/windows/oodialog/oleinfo/icons.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/ooRexxTry/doc/ooRexxTry.pdf -text svneol=unset#application/pdf
samples/windows/oodialog/oophil.ico -text
samples/windows/oodialog/propertysheet.tabControls/rc/PropertySheetDemo.dll -text
samples/windows/oodialog/propertysheet.tabControls/rc/TabOwnerDemo.dll -text
samples/windows/oodialog/propertysheet.tabControls/rc/TabOwnerDemoListView.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/propertysheet.tabControls/rc/TabOwnerDemoTab.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/propertysheet.tabControls/rc/TabOwnerDemoTreeView.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/propertysheet.tabControls/rc/oodListViews1.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/propertysheet.tabControls/rc/oodListViews2.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/propertysheet.tabControls/rc/propertySheetDemoListView.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/propertysheet.tabControls/rc/propertySheetDemoTab.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/propertysheet.tabControls/rc/propertySheetDemoTreeView.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/propertysheet.tabControls/rc/ticketWizardMovie.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/propertysheet.tabControls/rc/ticketWizardRexxLA.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/propertysheet.tabControls/rc/ticketWizardTheater.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/propertysheet.tabControls/rc/ticketWizardTicket.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/res/AnimalGame.dll -text
samples/windows/oodialog/res/oowalk2.dll -text
samples/windows/oodialog/resizableDialogs/ResizingAdmin/rc/PropertySheetDemo.dll -text
samples/windows/oodialog/resizableDialogs/ResizingAdmin/rc/propertySheetDemoListView.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/resizableDialogs/ResizingAdmin/rc/propertySheetDemoTab.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/resizableDialogs/ResizingAdmin/rc/propertySheetDemoTreeView.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/tutorial/add.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/tutorial/logo.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/userGuide/exercises/Exercise04/Extras/DlgData/res/ASimpleDialog.dll -text
samples/windows/oodialog/userGuide/exercises/Exercise05/res/ProductIcon.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/userGuide/exercises/Exercise05/res/ProductView.dll -text
samples/windows/oodialog/userGuide/exercises/Exercise06 svnc_bugtraq_003anumber=true
samples/windows/oodialog/userGuide/exercises/Exercise06/Customer svnc_bugtraq_003anumber=true
samples/windows/oodialog/userGuide/exercises/Exercise06/Customer/bmp svnc_bugtraq_003anumber=true
samples/windows/oodialog/userGuide/exercises/Exercise06/Customer/bmp/CustList.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/userGuide/exercises/Exercise06/Customer/bmp/CustList.ico -text
samples/windows/oodialog/userGuide/exercises/Exercise06/Customer/bmp/Customer.ico -text
samples/windows/oodialog/userGuide/exercises/Exercise06/Order svnc_bugtraq_003anumber=true
samples/windows/oodialog/userGuide/exercises/Exercise06/Order/bmp svnc_bugtraq_003anumber=true
samples/windows/oodialog/userGuide/exercises/Exercise06/Order/bmp/OrderForm.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/userGuide/exercises/Exercise06/Order/bmp/OrderForm.ico -text
samples/windows/oodialog/userGuide/exercises/Exercise06/Order/bmp/OrderList.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/userGuide/exercises/Exercise06/Order/bmp/OrderList.ico -text
samples/windows/oodialog/userGuide/exercises/Exercise06/Product svnc_bugtraq_003anumber=true
samples/windows/oodialog/userGuide/exercises/Exercise06/Product/res svnc_bugtraq_003anumber=true
samples/windows/oodialog/userGuide/exercises/Exercise06/Product/res/ProdList.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/userGuide/exercises/Exercise06/Product/res/ProdList.ico -text
samples/windows/oodialog/userGuide/exercises/Exercise06/Product/res/Product.ico -text
samples/windows/oodialog/userGuide/exercises/Exercise06/Product/res/ProductIcon.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/userGuide/exercises/Exercise06/Product/res/ProductView.dll -text
samples/windows/oodialog/userGuide/exercises/Exercise07/Customer/bmp/CustList.BMP -text svneol=unset#image/bmp
samples/windows/oodialog/userGuide/exercises/Exercise07/Customer/bmp/CustList.ico -text
samples/windows/oodialog/userGuide/exercises/Exercise07/Customer/bmp/Customer.ico -text
samples/windows/oodialog/userGuide/exercises/Exercise07/Order/bmp/OrderForm.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/userGuide/exercises/Exercise07/Order/bmp/OrderForm.ico -text
samples/windows/oodialog/userGuide/exercises/Exercise07/Order/bmp/OrderList.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/userGuide/exercises/Exercise07/Order/bmp/OrderList.ico -text
samples/windows/oodialog/userGuide/exercises/Exercise07/Product/res/ProdList.BMP -text svneol=unset#image/bmp
samples/windows/oodialog/userGuide/exercises/Exercise07/Product/res/ProdList.ico -text
samples/windows/oodialog/userGuide/exercises/Exercise07/Product/res/Product.ico -text
samples/windows/oodialog/userGuide/exercises/Exercise07/Product/res/ProductIcon.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/userGuide/exercises/Exercise07/Product/res/ProductView.dll -text
samples/windows/oodialog/userGuide/exercises/Exercise08/Customer/bmp/CustList.BMP -text svneol=unset#image/bmp
samples/windows/oodialog/userGuide/exercises/Exercise08/Customer/bmp/CustList.ico -text
samples/windows/oodialog/userGuide/exercises/Exercise08/Customer/bmp/Customer.cur -text
samples/windows/oodialog/userGuide/exercises/Exercise08/Customer/bmp/Customer.ico -text
samples/windows/oodialog/userGuide/exercises/Exercise08/Order/bmp/OrderForm.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/userGuide/exercises/Exercise08/Order/bmp/OrderForm.ico -text
samples/windows/oodialog/userGuide/exercises/Exercise08/Order/bmp/OrderList.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/userGuide/exercises/Exercise08/Order/bmp/OrderList.ico -text
samples/windows/oodialog/userGuide/exercises/Exercise08/Product/res/ProdList.BMP -text svneol=unset#image/bmp
samples/windows/oodialog/userGuide/exercises/Exercise08/Product/res/ProdList.ico -text
samples/windows/oodialog/userGuide/exercises/Exercise08/Product/res/Product.cur -text
samples/windows/oodialog/userGuide/exercises/Exercise08/Product/res/Product.ico -text
samples/windows/oodialog/userGuide/exercises/Exercise08/Product/res/ProductIcon.bmp -text svneol=unset#image/bmp
samples/windows/oodialog/userGuide/exercises/Exercise08/Product/res/ProductView.dll -text
samples/windows/oodialog/wav/byebye.wav -text svneol=unset#audio/x-wav
samples/windows/oodialog/wav/cancel.wav -text svneol=unset#audio/x-wav
samples/windows/oodialog/wav/clap.wav -text svneol=unset#audio/x-wav
samples/windows/oodialog/wav/elephant.wav -text svneol=unset#audio/x-wav
samples/windows/oodialog/wav/goat.wav -text svneol=unset#audio/x-wav
samples/windows/oodialog/wav/gotcha.wav -text svneol=unset#audio/x-wav
samples/windows/oodialog/wav/guess.wav -text svneol=unset#audio/x-wav
samples/windows/oodialog/wav/help.wav -text svneol=unset#audio/x-wav
samples/windows/oodialog/wav/horse.wav -text svneol=unset#audio/x-wav
samples/windows/oodialog/wav/inst.wav -text svneol=unset#audio/x-wav
samples/windows/oodialog/wav/jackpot.wav -text svneol=unset#audio/x-wav
samples/windows/oodialog/wav/moose.wav -text svneol=unset#audio/x-wav
samples/windows/oodialog/wav/nope.wav -text svneol=unset#audio/x-wav
samples/windows/oodialog/wav/philcake.wav -text svneol=unset#audio/x-wav
samples/windows/oodialog/wav/phileat.wav -text svneol=unset#audio/x-wav
samples/windows/oodialog/wav/philhelp.wav -text svneol=unset#audio/x-wav
samples/windows/oodialog/wav/philouch.wav -text svneol=unset#audio/x-wav
samples/windows/oodialog/wav/philslep.wav -text svneol=unset#audio/x-wav
samples/windows/oodialog/wav/philstop.wav -text svneol=unset#audio/x-wav
samples/windows/oodialog/wav/philstrt.wav -text svneol=unset#audio/x-wav
samples/windows/oodialog/wav/philwait.wav -text svneol=unset#audio/x-wav
samples/windows/oodialog/wav/rhino.wav -text svneol=unset#audio/x-wav
samples/windows/oodialog/wav/sample.wav -text svneol=unset#audio/x-wav
samples/windows/oodialog/wav/sealion.wav -text svneol=unset#audio/x-wav
samples/windows/oodialog/wav/start.wav -text svneol=unset#audio/x-wav
samples/windows/oodialog/wav/take.wav -text svneol=unset#audio/x-wav
samples/windows/oodialog/wav/tiger.wav -text svneol=unset#audio/x-wav
samples/windows/oodialog/wav/whistle.wav -text svneol=unset#audio/x-wav
samples/windows/oodialog/wav/yourgood.wav -text svneol=unset#audio/x-wav
